---
import Layout from '@layouts/Layout.astro';
import Topic from '@components/Story.svelte';

const { section, story } = Astro.params;

if (!story) {
  Astro.redirect('/');
}

const storyName = story?.replace(/%20/g, ' ');
const storyImage = storyName?.toLocaleLowerCase().replace(/[\s.\-\/]+/g, '');

const meta = {
  title: `Welcome to CoNexus - where stories know no bounds `,
  description: `${storyName} with infinite possibilities!`,
  image:
    `https://media.degenerousdao.com/conexus-categories/images/${storyImage}/description/description.avif` ||
    '/favicon.png',
  url: `https://conexus-v1-test.degenerousdao.com/${section}/${story}`,
};
---

<main>
  <Layout {story} {...meta}>
    <Topic story_name={story} client:load />
  </Layout>
</main>
