---
import Layout from '@layouts/Layout.astro';
import Story from '@components/Story.svelte';

const { section, story } = Astro.params;

if (!story) {
  Astro.redirect('/');
}

const storyName = story?.replace(/%20/g, ' ');
const storyImage = storyName?.toLocaleLowerCase().replace(/[^a-z0-9]/g, '');

const meta = {
  title: `Welcome to CoNexus - where stories know no bounds`,
  description: `Explore ${storyName} story!`,
  image:
    `https://media.degenerousdao.com/conexus-categories/images/${storyImage}/description/description.avif` ||
    '/favicon.ico',
  url: `https://conexus-v1-test.degenerousdao.com/${section}/${story}`,
  nav: storyName,
};
---

<main>
  <Layout {story} {...meta}>
    <Story story_name={story} client:load />
  </Layout>
</main>
