---
import Layout from '@layouts/Layout.astro';
import Menu from '@components/Menu.svelte';

const header = 'CoNexus';
const subheading = `
CoNexus is the gateway to a boundless multiverse with immersive and dynamic interactive Choose-Your-Adventure stories. Powered by cutting-edge artificial intelligence, CoNexus generates captivating narratives in real time, offering you an unparalleled journey into infinite and one-of-a-kind experiences.`;
const footerText = [
  'Personalized storylines with endless possibilities lie in your hands.',
  'Your choices and actions will shape the course of your unique narratives.',
  'V2 will launch soon, allowing you to create your own stories.',
];
const arrow = false;

const meta = {
  title: 'Welcome to Conexus',
  description: 'Explore the best stories in the multiverse',
  image: '/favicon.png',
  url: 'https://conexus-v1-test.degenerousdao.com/',
};
---

<main>
  <Layout {header} {subheading} {footerText} {arrow} {...meta}>
    <Menu client:load />
    <footer>
      {footerText.map((text: any) => <p class="footer-text">{text}</p>)}
    </footer>
  </Layout>
</main>

<style>
  footer {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }

  .footer-text {
    text-align: center;
    font-size: 1.5vw;
    line-height: 2.5vw;
    color: rgba(51, 226, 230, 0.75);
    text-shadow: 0 0 1vw #010020;
    filter: drop-shadow(0 0 1vw #010020);
  }

  @media only screen and (max-width: 600px) {
    footer {
      gap: 0.5em;
    }

    .footer-text {
      font-size: inherit;
      line-height: 2em;
      padding: 1em;
      background-color: rgba(22, 30, 95, 0.5);
      -webkit-backdrop-filter: blur(2vw);
      backdrop-filter: blur(2vw);
      border: 0.1vw solid rgba(51, 226, 230, 0.5);
      border-radius: 1em;
    }
  }
</style>
