---
import CategorySvelte from '@components/Category.svelte';
import Layout from '@layouts/Layout.astro';

const { section } = Astro.params;

if (!section) {
  Astro.redirect('/');
}

let subheading: string = '';

switch (section) {
  case 'Community Picks': {
    subheading = `Community Picks are stories that aren't bound to any project or genre but have been demanded, written, or voted in by the
    <a href="https://magiceden.io/collections/ethereum/0xfa511d5c4cce10321e6e86793cc083213c36278e" target="_blank">Potentials</a>
    holders.`;
    break;
  }
  case 'Dischordian Saga': {
    subheading = `The Dischordian Saga led to the creation of CoNexus and tells the epic narrative of wars between Artificial Intelligence and Humanity.
    <a href="https://magiceden.io/collections/ethereum/0xfa511d5c4cce10321e6e86793cc083213c36278e" target="_blank">Potentials</a>
    vote on
    <a href="https://governance.degenerousdao.com/" target="_blank">story nodes</a>
    weekly, thus activating CoNexus story games and guiding the franchise's direction.`;
    break;
  }
  case 'Collabs': {
    subheading =
      'Collabs are stories that are custom-written to add depth to the partners of DeGenerous DAO.';
    break;
  }
}

const sectionImage = section?.split(' ').join('').split('%20').join('');
const sectionName = section?.replace(/%20/g, ' ');

const meta = {
  title: `Welcome to CoNexus - where stories know no bounds `,
  description: `Explore all the best stories ${sectionName} has to offer`,
  image: `https://media.degenerousdao.com/conexus-sections/${sectionImage?.toLocaleLowerCase()}.avif`,
  imageType: 'image/avif',
  url: `https://conexus-v1-test.degenerousdao.com/${section}`,
};
---

<main>
  <Layout arrow={true} header={section} {subheading} {...meta}>
    <CategorySvelte {section} client:load />
  </Layout>
</main>
