---
import { SEO } from 'astro-seo';
import { seoConfig } from '../../utils/seoConfig';

import ToastContainer from '@components/utils/ToastContainer.svelte';
import Modal from '@components/utils/Modal.svelte';
import Navigation from '@components/Navigation.svelte';
import CookieBanner from '@components/utils/CookieBanner.svelte';

import { assetsURL } from '@constants/media';

import '@styles/index.scss';

type LayoutProps = {
  header?: string;
  subheading?: string;
  nav?: string;
  arrow?: boolean;
  story?: string;
  title?: string;
  ogTitle?: string;
  description?: string;
  image?: string;
  imageWidth?: number;
  imageHeight?: number;
  imageType?: string;
  url?: string;
  type?: string;
  disableIndexing?: boolean;
};

const {
  header,
  subheading,
  nav,
  arrow,
  story,
  title = 'CoNexus | AI Storytelling',
  description = 'CoNexus is the gateway to a boundless multiverse with infinite Choose-Your-Adventure stories.',
  image = `${assetsURL}/og.jpeg`,
  imageWidth = 480,
  imageHeight = 480,
  imageType = 'image/jpeg',
  url = 'https://conexus.degenerousdao.com/',
  type = 'website',

  ogTitle,
  disableIndexing = false,
} = Astro.props as LayoutProps;

// Helper: always pass an absolute URL to crawlers
const absoluteImageURL = image.startsWith('http')
  ? image
  : `${seoConfig.baseURL}${image}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#161e5f" />
    <meta
      name="robots"
      content={disableIndexing ? 'noindex, nofollow' : 'index, follow'}
    />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <SEO
      title={title}
      description={description || seoConfig.description}
      noindex={disableIndexing}
      nofollow={disableIndexing}
      canonical={`${seoConfig.baseURL}${Astro.url.pathname}`}
      openGraph={{
        basic: {
          title: ogTitle || title,
          type,
          image: absoluteImageURL,
          url,
        },
        image: {
          width: imageWidth,
          height: imageHeight,
          type: imageType,
          url: absoluteImageURL,
          alt: seoConfig.image.alt,
        },
        optional: {
          siteName: seoConfig.siteName,
          description: description,
        },
      }}
      twitter={{
        card: 'summary_large_image',
        site: seoConfig.twitter.site,
        creator: seoConfig.twitter.creator,
        image: absoluteImageURL,
      }}
    />

    <!-- Preconnect to tracking domains -->
    <link rel="preconnect" href="https://www.clarity.ms" crossorigin />
    <link rel="preconnect" href="https://static.ads-twitter.com" crossorigin />

    <!-- Clarity by Microsoft, integrated with our Google Analytics -->
    <script type="text/javascript" is:inline>
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = 'https://www.clarity.ms/tag/' + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, 'clarity', 'script', 'rpwb9gsgjt');
    </script>

    <!-- Twitter conversion tracking base code -->
    <script is:inline>
      !(function (e, t, n, s, u, a) {
        e.twq ||
          ((s = e.twq =
            function () {
              s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
            }),
          (s.version = '1.1'),
          (s.queue = []),
          (u = t.createElement(n)),
          (u.async = !0),
          (u.src = 'https://static.ads-twitter.com/uwt.js'),
          (a = t.getElementsByTagName(n)[0]),
          a.parentNode.insertBefore(u, a));
      })(window, document, 'script');

      twq('config', 'pqifz');
    </script>
  </head>
  <body>
    <ToastContainer client:load />

    <Navigation
      {header}
      {subheading}
      activeTab={nav}
      {arrow}
      storyName={story}
      client:load
    />

    <slot />

    <Modal client:load />

    <CookieBanner client:load />
  </body>
</html>

<!-- Copyright DGRS LABS - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential -->
