---
import { SEO } from 'astro-seo';

import ToastContainer from '@components/utils/ToastContainer.svelte';
import Modal from '@components/utils/Modal.svelte';
import Navigation from '@components/Navigation.svelte';
import CookieBanner from '@components/utils/CookieBanner.svelte';

import { seoConfig } from '../../utils/seoConfig';

import '@styles/index.scss';

type LayoutProps = {
  header?: string;
  subheading?: string;
  nav?: string;
  arrow?: boolean;
  story?: string;
  title?: string;
  ogTitle?: string;
  description?: string;
  image?: string;
  url?: string;
  type?: string;
  disableIndexing?: boolean;
};

const {
  header,
  subheading,
  nav,
  arrow,
  story,
  title = 'Welcome to CoNexus',
  description = 'CoNexus is the gateway to a boundless multiverse with infinite Choose-Your-Adventure stories.',
  image = '/favicon.ico',
  url = 'https://conexus.degenerousdao.com/',
  type = 'website',

  ogTitle,
  disableIndexing = false,
} = Astro.props as LayoutProps;
---

<html lang="en">
  <head>
    <title>CoNexus | DeGenerous DAO</title>

    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#161e5f" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <SEO
      title={title}
      description={description || seoConfig.description}
      noindex={disableIndexing}
      nofollow={disableIndexing}
      canonical={`${seoConfig.baseURL}${Astro.url.pathname}`}
      openGraph={{
        basic: {
          title: ogTitle || title,
          type,
          image: image || seoConfig.image.url,
          url: url || seoConfig.baseURL,
        },
        image: {
          width: seoConfig.image.width,
          height: seoConfig.image.height,
          alt: seoConfig.image.alt,
          url: seoConfig.image.url,
          type: seoConfig.image.type,
        },
        optional: {
          siteName: seoConfig.siteName,
          description: seoConfig.description || description,
        },
      }}
      twitter={{
        card: 'summary_large_image',
        site: seoConfig.twitter.site,
        creator: seoConfig.twitter.creator,
      }}
    />
  </head>
  <body>
    <ToastContainer client:load />

    <Navigation
      {header}
      {subheading}
      activeTab={nav}
      {arrow}
      storyName={story}
      client:load
    />

    <slot />

    <Modal client:load />

    <CookieBanner client:load />
  </body>
</html>

<!-- Copyright DeGenerous
Society - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential -->
