---
import { SEO } from 'astro-seo';

import ToastContainer from '@components/utils/ToastContainer.svelte';
import Modal from '@components/utils/Modal.svelte';
import Navigation from '@components/utils/Navigation.svelte';
import CookieBanner from '@components/utils/CookieBanner.svelte';
import ConexusLogo from '@components/utils/ConexusLogo.svelte';

import { seoConfig } from '../../utils/seoConfig';

// import '@styles/reset.css';
// import '@styles/global.css';
// import '@styles/rainbow-kit.css';
// import '@styles/icons.css';
// import '@styles/utils.css';
// import '@styles/tiles.css';
// import '@styles/dream.css';

import '@styles/index.scss';

type LayoutProps = {
  header?: string;
  subheading?: string;
  nav?: string;
  arrow?: boolean;
  story?: string;
  title?: string;
  ogTitle?: string;
  description?: string;
  image?: string;
  imageType?: string;
  url?: string;
  type?: string;
  disableIndexing?: boolean;
};

const {
  header,
  subheading,
  nav,
  arrow,
  story,
  title = 'Welcome to CoNexus',
  description = 'CoNexus is the gateway to a boundless multiverse with infinite Choose-Your-Adventure stories.',
  image = '/favicon.ico',
  imageType,
  url = 'https://conexus-test.degenerousdao.com/',
  type = 'website',

  ogTitle,
  disableIndexing = false,
} = Astro.props as LayoutProps;
---

<html lang="en">
  <head>
    <title>CoNexus | DeGenerous DAO</title>

    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link type="text/plain" rel="author" href="/humans.txt" />

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link
      rel="preconnect"
      crossorigin="anonymous"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      crossorigin="anonymous"
      href="https://fonts.gstatic.com"
    />
    <link
      rel="stylesheet"
      crossorigin="anonymous"
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
    />

    <SEO
      title={title}
      description={seoConfig.description || description}
      noindex={disableIndexing}
      nofollow={disableIndexing}
      openGraph={{
        basic: {
          title: ogTitle || title,
          type: 'website',
          image: seoConfig.image.url || image,
        },
        image: {
          width: seoConfig.image.width,
          height: seoConfig.image.height,
          alt: seoConfig.image.alt || title,
        },
        optional: {
          siteName: seoConfig.siteName,
          description: seoConfig.description || description,
        },
      }}
      twitter={{
        card: 'summary_large_image',
      }}
    />

    <link rel="manifest" href="/manifest.webmanifest" />
  </head>
  <body>
    <ToastContainer client:load />

    {!story && <Navigation activeTab={nav} {arrow} client:load />}

    {header === 'CoNexus' ? <ConexusLogo /> : ''}
    <h1 class={header === 'CoNexus' ? 'sr-only' : ''}>{header}</h1>

    {subheading && <p class="subheading text-shad" set:html={subheading} />}

    <slot />

    <Modal client:load />

    <CookieBanner client:load />

    <style>
      p {
        width: clamp(250px, 90%, 70rem);
        margin: 1rem auto;
      }
    </style>
  </body>
</html>

<!-- Copyright DeGenerous
Society - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential -->
